<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Generate Reports">
  <!--  <listeners>
        <listener class-name="utils.Listener" />
    </listeners> -->
    <!-- Include your test classes here -->
    <test name="Report">
        <classes>

            <class name="TestCases.Tests" />
        </classes>
    </test>
</suite>


